nav {
    background: rgba(78,78,80,0.3);
    width: max-content;
    padding: 1rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    bottom: 5%;
    display: flex;
    gap: 0.8rem;
    transform: translateX(-50%);
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(195, 7, 63,0.3);
}

nav a:active {
    background: var(--color-primary);
    color: var(--color-white);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-white);
}

